.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 226, 226);

  z-index: 100;
}

.header-left-section{
  display: flex;
  align-items: center;
}

.hamburger-menu{
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
}

.youtube-logo{
  height: 20px;
}

.header-middle-section{
  display: flex;
  flex: 1;
  align-items: center;
  max-width: 500px;
  margin-left: 35px;
  margin-right: 70px;
}

.search-bar{
  flex: 1;
  height: 36px;
  width: 0;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192); 
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder{
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-button{
  height: 40px;
  width: 66px;
  background-color: rgb(245, 242, 242);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -3px;
  margin-right: 10px;
}

.search-button, 
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/*css selector to target tooltips inside different buttons and icons*/
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip{
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-family: Roboto, Arial;
  font-size: 12px;
  bottom: -30px;
  /*opacity 0 makes the element seethrough, so now we can't see the tooltip*/
  opacity: 0;
  /*makes a tramsition for the opacity*/
  transition: opacity 0.15s;
  /*makes it so when the user hover over the tooltip, that the tooltip disapeers*/
  pointer-events: none;
  /*This prevents the text from wrapping around*/
  white-space: nowrap;
}

/*css selector to target all tooltips inside the search-button, when user hovers over the search-button*/
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip{
  opacity: 1;
}

.search-icon{
  height: 25px;
}

.voice-search-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(244, 241, 241);
}

.voice-search-icon{
  height: 25px;
}

.header-reight-section{
  width: 180px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.upload-icon{
  height: 24px;
}

.youtube-apps-icon{
  height: 24px;
}

.notifications-icon-container{
  position: relative;
}

.notifications-count{
  font-family: Roboto, Arial;
  font-size: 11px;
  font-weight: 400;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgb(184, 1, 1);
  color: white;
  top: -4px;
  right: -6px;
  border-radius: 20px;
  position: absolute;
}

.notification-icon{
  height: 24px;
}

.current-user-picture{
  height: 32px;
  border-radius: 16px;
}