.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
}

/*the css code here will only activate when the screen size is 0px op to max 750px. 
  This is to make it so there will only be shown 2 videos on each row when the screen is 0px to 750px.
  This will make help with responsive design for the webpage
  You make responsive design with a lot of media quiries*/
@media (max-width: 750px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}

/*the css code here will activate when the screen size is 751px op to max 999px. 
  This is to make it so there will only be shown 3 videos on each row when the screen is in this scale.
  This will make help with responsive design for the webpage*/
@media (max-width: 751px) and (min-width: 999px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*the css code here will only activate when the screen size is 1000px or above. 
  This is to make it so there will only be shown 4 videos on each row when the screen is in this scale.
  This will make help with responsive design for the webpage*/
  @media (min-width: 1000px){
    .video-grid{
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

.thumbnail-1{
  width: 100%;
  border-radius: 25px;
}

.thumbnail-row{
  margin-bottom: 8px;
  position: relative;
}

.video-time{
  font-size: 12px;
  font-weight: 400;
  /*Padding is a short hand property. 
    It makes is so padding left, right and os on is 4px.
    if your write padding: 4px 10px 20px 30px you'll make padding
    for each corner with one line of code. 
    The same can be done for margin*/
  padding: 4px;
  position: absolute;
  background-color: black;
  color: white;
  bottom: 10px;
  right: 7px;
  border-radius: 10px;
}

.vidoe-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture{
  width: 36px;
  border-radius: 50px;
}

.video-title{
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-author, 
.video-stats{
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author{
  margin-bottom: 4px;
}